<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Gerald W. Shaftan, MD</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="page-{{ page.url | slugify }}">
  <header>
    <div id="topbar">
      <div id="branding">
        <a href="/">
          <h1>Gerald W. Shaftan, MD</h1>
          <h2>Clinical Surgical Scientist</h2>
        </a>
      </div>
      <a href="/">Submissions/Corrections</a>
    </div>
    <nav>
      <a href="/press">Press</a>
      <a href="/publications">Publications</a>
      <a href="/rememberances">Rememberances</a>
    </nav>
  </header>
  <main>
    {{content}}
  </main>
  <footer>
    <p>Maintained by Susan Perrin, Balanced Consulting &copy; 2021 - {{ site.time | date: '%Y' }}</p>
  </footer>
</body>

</html>
